.custom-card {
    background-color: #000000;
    color: aliceblue;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    padding: 5px;
}

.custom-grid {
    margin: 10px;
}

.card-img-top {
    background-color: red;
    width: 100%;
    /* O un valor fijo como 200px */
    height: 200px;
    /* O un valor fijo como 200px */
    object-fit: cover;
    /* Esto asegura que la imagen mantenga su relación de aspecto */
}

.titulo {
    color: #ffffff;
    /* Blanco brillante para el texto principal */
    text-shadow:
        0 0 5px #ffffff,
        /* Brillo cercano */
        0 0 10px #ffffff,
        /* Brillo intermedio */
        0 0 20px #f0f0f0,
        /* Brillo difuso */
        0 0 40px #b4b4b4,
        /* Resplandor más amplio en tonos grises */
        0 0 60px #b4b4b4,
        /* Ampliar el resplandor */
        0 0 100px #7a7a7a;
    /* Resplandor más suave y lejano */
}